@import "tailwindcss";

@property --border-angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@theme {
    --animate-rotate-border: border-rotate 3s linear infinite;
    --animate-view: view-animation linear both;
}

@keyframes border-rotate{
    to {
        --border-angle:360deg;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes view-animation {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}